{% set list_attributes = attributes.addClass('list-style-none divide-y divide-solid') %}

{%- if items or empty -%}
  {%- if title is not empty -%}
    <h3 class="mt-6 text-lg md:text-xl lg:text-2xl">{{ title }}</h3>
  {%- endif -%}
  {%- if items -%}
    <{{ list_type }}{{ list_attributes }}>
    {%- for item in items -%}
      <li {{ item.attributes.addClass('block py-6') }}>{{ item.value }}</li>
    {%- endfor -%}
    </{{ list_type }}>
  {%- else -%}
    <div class="flex items-center rounded-md justify-center py-4 px-6 w-full bg-yellow-100 text-yellow-900">
      <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path class="stroke-current" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <div class="ml-2 text-lg md:text-xl lg:text-2xl">
        {{- empty -}}
      </div>
    </div>
  {%- endif -%}
{%- endif %}
