{{ title_prefix }}
<h3{{ title_attributes.addClass('font-bold text-blue-900 transition text-lg md:text-xl hover:underline focus:underline hover:text-blue-700 focus:text-blue-700') }}>
  <a href="{{ url }}">{{ title }}</a>
</h3>
{{ title_suffix }}
{% if snippet %}
  <p{{ content_attributes.addClass('mt-1') }}>{{ snippet }}</p>
{% endif %}
{% if info %}
  <p>{{ info }}</p>
{% endif %}
