{%
  set classes = [
    primary ? '--primary',
    secondary ? '--secondary'
  ]
%}
{%
  set list_classes = [
    'list-style-none',
    logged_in ? '--admin',
    not logged_in ? '--public',
    primary ? '--primary',
    secondary ? '--secondary',
    'flex',
    'list-style-none',
    '-mx-4  ',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <div>
    {% if primary %}
      <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
      <ul{{ attributes.removeClass(tabs_classes).addClass(list_classes) }}>{{ primary }}</ul>
    {% endif %}
    {% if secondary %}
      <h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
      <ul{{ attributes.removeClass(tabs_classes).addClass(list_classes) }}>{{ secondary }}</ul>
    {% endif %}
  </div>
</div>
