{% extends "block.html.twig" %}

{% block content %}
  {% if site_logo %}
    <a class="flex" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
      <img class="w-12 h-8" src="{{ site_logo }}" alt="{{ 'Site logotype'|t }}" />
      <span class="ml-2 font-bold">Tailwind Theme</span>
    </a>
  {% endif %}
  {% if site_name %}
    <a class="sr-only" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
  {% endif %}
  {{ site_slogan }}
{% endblock %}
