{% set classes = [
    'bg-blue-100',
  ]
%}

<div{{ attributes.addClass(classes) }}>
    <div class="container py-8">
      {{ title_prefix }}
      {% if label %}
        <h2{{ title_attributes }}>{{ label }}</h2>
      {% endif %}
      {{ title_suffix }}
      {% block content %}
          {{ content }}
      {% endblock %}
    </div>
</div>