{% set block_classes %}
  {{ logged_in ? 'mt-0 p-0 mb-6 bg-transparent' : 'mt-6 first:mt-0' }}
{% endset %}

{% set heading_classes = [
  'font-bold',
  'mt-2',
  'p-0',
  'mb-0',
  content.field_heading_level.0["#markup"] == 'h1' ? 'text-3xl md:text-4xl lg:text-5xl' : '',
  content.field_heading_level.0["#markup"] == 'h2' ? 'text-2xl md:text-3xl lg:text-4xl' : '',
  content.field_heading_level.0["#markup"] == 'h3' ? 'text-xl md:text-2xl lg:text-3xl' : '',
  content.field_heading_level.0["#markup"] == 'h4' ? 'text-xl md:text-2xl lg:text-3xl'  : '',
] %}

{% set image_aligment %}
  {{ content.field_image_alignment.0["#markup"] }}
{% endset %}

{% set content_alignment %}
  {% if content.field_content_alignment.0["#markup"] == 'top' %}
    {{ 'items-start' }}
  {% elseif content.field_content_alignment.0["#markup"] == 'center' %}
    {{ 'items-center' }}
  {% elseif content.field_content_alignment.0["#markup"] == 'bottom' %}
    {{ 'items-end' }}
  {% endif %}
{% endset %}

{% set heading_level = content.field_heading_level.0["#markup"] %}

<div{{ attributes.addClass(block_classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% block content %}
    <div class="grid grid-cols-2 gap-y-12 md:gap-x-12 xl:gap-24{{ content_alignment }}">
      <div class="flex flex-col items-start col-span-2 md:pb-0 md:col-span-1{% if image_alignment == 'left' %} mr-auto{% else %} ml-auto{% endif %}">
        <div class="text-gray-700">
          {{ content.field_label }}
        </div>
        <{{ heading_level }} {{ attributes.addClass(heading_classes).removeClass(block_classes) }}>
          {{ content.field_heading }}
        </{{ heading_level }}>
        <div class="mt-4 text-lg text-gray-500">
          {{ content.field_text }}
        </div>
        <a href="{{ content.field_link.0["#url"] }}" class="inline-block mt-6 bg-gray-200 text-gray-900 w-auto cursor-pointer px-6 py-3">
          {{ content.field_link.0["#title"] }}
        </a>
      </div>
      <div class="flex col-span-2 items-center md:col-span-1{% if content.field_image_alignment.0["#markup"] == 'left' %} md:order-first{% endif %}">
        {{ content.field_image_image_with_text }}
      </div>
    </div>
  {% endblock %}
</div>
