<article{{ attributes }}>
  <h1 class="font-bold mb-4 text-2xl leading-snug md:text-3xl md:leading-snug lg:text-4xl lg:leading-snug xl:text-5xl xl:leading-snug xl:mt-6">{{ 'Profile'|t }}</h1>
  <div class="bg-gray-100 rounded-md p-6 inline-flex items-center">
    <div class="flex items-center justify-center rounded-full w-16 h-16 bg-gray-200 text-gray-900 relative">
      <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path class="stroke-current" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <div class="absolute inset-0">
        {{- content.user_picture -}}
      </div>
    </div>
    <div class="flex flex-col ml-4">
      <div class="flex font-bold capitalize text-xl">{{ user.name.value }}</div>
      <a class="mt-px flex text-sm text-blue-700 transition hover:text-blue-800 focus:text-blue-800" href="mailto:{{ user.mail.value }}">{{ user.mail.value }}</a>
    </div>
  </div>
</article>
